.directory-item {
  background-color: #fff;
  width: 90%;
  margin: 0 auto;
  height: 45px;
  margin-bottom: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.directory-item .directory-number {
  margin-left: 20px;
  font-weight: bold;
  border: 2px solid #eaeaea;
  border-radius: 50px;
  padding: 2px 8px;
  margin-right: 18px;
  margin-top: 15px;
}

.directory-item .directory-title {
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 15px;
}

.directory-item .btn-start:link,
.directory-item .btn-start:visited {
  margin-left: auto;
  margin-right: 20px;
  text-decoration: none;
  padding: 5px 20px;
  background: rgba(255, 207, 70, 0.8);
  border-radius: 5px;
  color: #fff;
}

.btn-start img {
  width: 12px;
  margin-right: 5px;
}
