.g {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
  max-width: 800px;
  margin-top: 30px;
}
.g-b--6of12 {
	width: 50%;
	max-width: 50%;
}
.g-b {
	box-sizing: border-box;
	flex-grow: 1;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
}
.bg {
	background-color: #fff;
	color: #4a4a4a;
}
::selection {
	background: #3295db;
	color: #fff;
}
.well {
	margin-bottom: 20px;
	margin-top: 20px;
}
.h4, h4 {
	font-size: 18px;
}
.h1, .h2, .h3, .h4, h1, h2, h3, h4 {
	font-family: museo-sans-rounded-bold,sans-serif;
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 5px;
	margin-top: 0;
	transition: all .25s ease-in-out;
}
.well--b {
	margin-top: 0;
}
.well--l {
	margin-bottom: 40px;
	margin-top: 40px;
}
.form-fieldset, .game {
	position: relative;
}
.well--b {
	margin-top: 0;
}
.well {
	margin-bottom: 20px;
	margin-top: 20px;
}
.label--fw {
	width: 100%;
}
.label {
	font-size: 14px;
}
.well--b {
	margin-top: 0;
}
.well--xs {
	margin-bottom: 10px;
	margin-top: 10px;
}
.input--fw {
	width: 100%;
}
input, select, textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid #d5d5d5;
	border-radius: 10px;
	box-sizing: border-box;
	color: #4a4a4a;
	outline: 0;
	padding: 8px 15px;
}
.btn--a {
	background: #ffcf46;
	border: "";
	border-radius: 5px;
	color: #6d5825;
}
.btn {
	align-items: center;
	box-sizing: border-box;
	border: 0;
	cursor: pointer;
	display: inline-flex;
	font-family: museo-sans-rounded,sans-serif;
	font-size: 16px;
	justify-content: center;
	letter-spacing: inherit;
	line-height: 2;
	padding: 2px 20px 1px;
	text-align: center;
	text-decoration: none;
	transition: color .25s ease-in-out,background-color .25s ease-in-out,border .25s ease-in-out;
	white-space: nowrap;
}
.showingAlert{
	transition: width 3s, opacity .5s linear;
}

.alert-active{
	width: auto;
	opacity: 1;
}

.alert-close{
	width: 0;
	opacity: 0;
}