.directory {
  width: 400px;
  height: 500px;
  background-color: #3295db;
  margin: 60px 80px 20px 300px;
  border-radius: 5px;
  padding: 20px;
  display: inline-block;
}

.directory h3 {
  color: #fff;
  font-size: 30px;
  margin: 0;
  margin-bottom: 40px;
}

.rank {
  width: 350px;
  display: inline-block;
  margin-top: auto;
}
