.login-btn-base {
  font-size: 12px;
  border-radius: 5px;
  color: #6d5825;
  padding: 1.25px 10px 0.75px;
  font-weight: 500;
}
.login-btn-large {
  font-size: 18px;
  padding: 10px 40px 6px;
}
.login-logo_text {
  font-weight: 800;
  font-size: 30px;
  color: #4a4a4a;
}
.login-logo_text_small {
  margin-left: -3px;
  color: #4a4a4a;
  font-weight: 500;
}
.login-title {
  color: #3295db;
  font-size: 40px;
  text-align: center;
}
.login-header {
  display: flex;
  justify-content: space-between;
}
.login-main {
  margin: 0 auto;
  max-width: 400px;
}
.login-brand_logo {
  background-color: white;
  padding: 5px 5px 7px;
  border-radius: 3px;
  display: inline-block;
}
.login-autho_brand_text {
  color: white;
  padding: 0 5px;
}
.login-autho_brand_img {
  width: 25px;
  height: 25px;
}
.login-autho-btn {
  background-color: #4285f4;
  padding: 2px;
  display: inline-block;
  border-radius: 3px;
  cursor: pointer;
}
.login-eke {
  position: relative;
  height: 2px;
  background-color: #eaeaea;
}
.login-group-autho-btn {
  text-align: center;
  margin: 20px 0;
}
.login-eke {
  margin-top: 40px;
}
.login-or {
  position: absolute;
  padding: 5px;
  font-size: 14px;
  border-radius: 50%;
  background-color: #eaeaea;
  top: -15px;
  left: 48%;
}
.login-form-login {
  margin-top: 20px;
}
.login-username_lable {
  display: block;
  margin: 0;
}
.login-username_input {
  display: block;
  background: #f7f7f7;
  border-radius: 6px;
  border: none;
  box-shadow: inset 0 2px 5px rgba(26, 26, 26, 0.1);
  box-sizing: border-box;
  color: #333;
  font-size: 15px;
  outline: 0;
  padding: 8px 15px;
  transition: all 0.25s ease-in-out;
  width: 100%;
  margin-bottom: 20px;
}
.login-forgot-login {
  display: block;
  text-align: end;
}
.login-pillar {
  text-align: end;
}
.login-btn-next {
  margin-top: 30px;
  padding: 10px 30px;
  font-size: 15px;
  letter-spacing: 1.5px;
}
.login-wrapper {
  text-align: center;
}
